<% layout("/layouts/boilerplate") -%>

<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mb-4">Edit your listing</h3>

    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"enctype="multipart/form-data">

      <div class="mb-3">
        <label class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
      </div>
        
      <div class="mb-3">
        <label class="form-label">Image URL</label>
        <img
          src="<%= listing.image.url %>"
          class="img-fluid rounded mb-3 edit-img"
          alt="Listing image"
        >
        <input
          name="listing[image][url]"
          value="<%= listing.image.url %>"
          class="form-control"
        >
      </div>
      <div class="mb-3">
            <label class="form-label">Upload New Image (optional)</label>
            <input type="file" name="listing[imageFile]" class="form-control">
        </div>
      <div class="row">
        <div class="col-4 mb-3">
          <label class="form-label">Price</label>
          <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
        </div>

        <div class="col-8 mb-3">
          <label class="form-label">Country</label>
          <input name="listing[country]" value="<%= listing.country %>" class="form-control" required>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Location</label>
        <input name="listing[location]" value="<%= listing.location %>" class="form-control" required>
      </div>
      <!-- Map Section -->
<div class="mb-3">
  <label class="form-label">Adjust Location on Map</label>

  <div class="map-wrapper">
    <button type="button" class="map-toggle-btn">
      <i class="fa-solid fa-expand"></i>
    </button>

    <div id="map"
         data-geometry='<%- JSON.stringify(listing.geometry) %>'
         data-edit="true">
    </div>
  </div>

  <!-- Hidden inputs to store updated coordinates -->
  <input type="hidden" name="listing[geometry][lat]" id="latInput">
  <input type="hidden" name="listing[geometry][lng]" id="lngInput">
</div>


      
      <button class="btn btn-dark add-btn">Update</button>
    </form>
  </div>
</div>
